.showroom {
    max-width: 1955px;
    margin: 0 auto;
    padding: 38px 15px 0 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 38px;
}

.showroom__item {
    max-width: 583px;
    border-radius: 12px;
    background: #19161C;
    padding-bottom: 38px;
}

.showroom__item-img {
    width: 100%;
}

.showroom__item-desc {
    padding: 25px 37px 0px 37px;
}

.showroom__item-desc-title {
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
}

.showroom__item-desc-subtitle {
    color: #848895;
    text-align: center;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
}

.showroom__item-desc-about {
    color: #FFF;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.3px;
    margin-top: 10px;
}

.showroom__item-link {
    padding: 0 37px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 27px;
    gap: 15px;
}

.showroom__item-link-ozon,
.showroom__item-link-wb {
    border-radius: 12px;
    border: 1.269px solid #FFF;
    width: 240.283px;
    height: 55.828px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    gap: 6.5px;
}

.showroom__item-link-ozon:hover,
.showroom__item-link-wb:hover {
    background: #313131;
}

@media(max-width:1955px) {
    .showroom__item-desc {
        padding-left: calc((100vw - 320px)/(1955 - 446) * (37 - 15) + 15px);
        padding-right: calc((100vw - 320px)/(1955 - 446) * (37 - 15) + 15px);
    }

    .showroom__item-desc-title {
        font-size: calc((100vw - 320px)/(1955 - 446) * (24 - 20) + 20px);
    }

    .showroom__item-desc-subtitle {
        font-size: 17px;
    }

    .showroom__item-desc-about {
        font-size: calc((100vw - 320px)/(1955 - 446) * (17 - 14) + 14px);
    }

    .showroom__item-link {
        padding-left: calc((100vw - 320px)/(1955 - 446) * (37 - 15) + 15px);
        padding-right: calc((100vw - 320px)/(1955 - 446) * (37 - 15) + 15px);
    }
}

@media(max-width: 1854px) {
    .showroom {
        justify-content: space-around;
    }
}

@media(max-width: 599px) {

    .showroom__item-link-ozon,
    .showroom__item-link-wb {
        width: 100%;
    }
}